body {
  background-color: chocolate;
  background-repeat: no-repeat;
  background-image: url("https://images.pexels.com/photos/270669/pexels-photo-270669.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

section {
  width: 300px;
  height: 300px;
  background-color: cadetblue;

  /* 左右居中 */
  margin: auto;

  /* 后面三个起到垂直居中 */
  display: flex;
  justify-content: center;
  align-items: center;

  color: #eee;
}

div.container {
  width: 300px;
  height: 300px;
}
