body {
  background-color: chocolate;
}

section {
  width: 300px;
  height: 300px;
  background-color: cadetblue;

  /* 左右居中 */
  margin: auto;

  /* 后面三个起到垂直居中 */
  display: flex;
  justify-content: center;
  align-items: center;
}

div.container {
  width: 300px;
  height: 300px;
}
